*{
    margin: 0;
    padding: 0;
    user-select: none;
}

.container{
    width: 1920px;
    height: 1080px;
}

.left-menu{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    background-color: orange;
}

.stat{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 70%;
    height: 50px;
    background-color: pink;
}

.stat > img{
    width: 30px;
    height: 30px;
    margin: 10px;
}