*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1920px;
    height: 1080px;
}

.left-menu{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 100%;
    background-color: orange;
}

.stat{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50px;
    background-color: pink;
}
